body{
    h1{
        color: #2c3e50;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        font-size: 3em;
    }
    height: 95vh;
    background: rgba(139, 128, 128, 0.452);
    padding: 0 5%;
}

.grid{
	width: 600px;
	height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    box-shadow: 0px 0px 50px 5px grey;
}

.grid-element{
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: 'Tourney', cursive;
    font-weight: bold;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

@keyframes opac{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}