body{
    h1{
        text-align: center;
    }
    height: 95vh;
    background-color: grey;
    padding: 0 5%;
}

.grid{
	width: 600px;
	height: 600px;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.grid-element{
    border: 6px solid #2c3e50;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
